html, body /*police site*/
{ 
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin:0;
}

h1 /*taille titre h1*/
{
    font-size: 2rem;
}

h2 /*taille titre h2*/
{
    font-size: 1.4rem;
}

h3 /*taille titre h3*/
{
    font-size: 1rem;
    color: black;
}

strong/* éléments en gras*/
{
    font-weight: bold;    
}

a /* config liens*/
{
    text-decoration: none;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img
{
    margin-top: 1rem;
}


nav /*navigateur*/
{
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: center;
    color: #0065FC;
    width: 40%;
}


ul/*disposition navbar*/
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 65%;
    
}

nav a /* liens navigateur*/
{
    text-decoration: none;
    cursor: pointer;
    padding: 1.15rem 1rem 0rem 1rem;
    color: #0065FC;
}

nav a:hover /*survol liens navigateur*/
{
    border-top: 0.15rem solid #0065FC;
}

#act, .text_annonce1,.text_annonce2/*couleur activité du navigateur + annonces*/
{
    color: black;
}

.localisation /*bloc recherche localisation*/
{    
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    
    width:340px;
    height: 50px;
    border-radius: 2rem;
}

#image_gps /*image localisation*/
{
    
    background-color: #F2F2F2;
    padding: 15px 25px;
    background-size: 50px 50px;
    border-radius: 15px 0 0 15px;
}

#search /*zone texte recherche*/
{
    width: 150px;
    height: 50px;
    border: none;
    font-weight: bold;
    padding-left: 15px;
}

#submit /*bouton recherche*/
{
    width: 116px;
    height: 50px;
    background-color: #0065FC;
    border: none;
    border-radius: 0rem 1rem 1rem 0rem;
    color: #F2F2F2;
    font-size: 16px;
    cursor: pointer;
    transition: 1s;
}

.fa-search
{
    display: none;
}

#submit:hover /*bouton recherche*/
{
    background-color: #DEEBFF;
    color: #0065FC;
}

.filtres /*selection filtres*/
{    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    font-weight: bold;
    width: 70%;
}

.filtres h3
{
    margin-right: 1rem;
}

.mini_bloc_filtre /*config liens des filtres*/
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-left: none;
    border-radius: 2rem;
    height: 50px;
    color: black;
    transition: 1s;
}

.filtres i /*placement images des filtres*/
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 2rem;
}

.titre_filtres
{
    padding: 0 1rem;
}

.mini_bloc_filtre:hover /*zoom passage de souris sur filtres*/
{
    font-size: 120%;
    cursor: pointer;
}

.i /*couleur du "i" au nombres d'hergements trouvés*/
{    
    color: #0065FC;
    position: relative;
    border: 1px solid #F2F2F2;
    border-radius: 10rem;
    padding:0 0.45em 0.1rem;
    margin:0 0.5rem;
}

.info_dispo /* alignement nombres d'hergements trouvés*/
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0rem;
}

.blue /*etoite bleu*/
{
    color: #0065FC;
}

.grey /*etoile grise*/
{
    color: #F2F2F2;
}

.big_bloc_heb_pop /*ensemble "hebergement a marseille" et "les plus populaires"*/
{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
}

.bloc_hebergement /*bloc "hebergement a marseille"*/ 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
    background-color: #F2F2F2;
    border-radius: 1rem;
    height: auto;
    margin-right: 1rem;
    padding: 0.5rem 2rem;
}

.bloc_annonces_heber_1
{
    display: flex;    
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 1rem;
}

.bloc_annonces_heber_2
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 1rem;
}

.annonce_hebergement /*annonces hebergements à Marseille*/
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    background-color: white;
    width: 30%;
    height: auto;
    border-radius: 1rem;
    font-size: 0.8rem;
    box-shadow: 5px 5px 10px 1px #F2F2F2;
    cursor: pointer;
    padding: 0.3rem;
    transition: 1s;
}


.image_hebergement /*image annonce du bloc "Hébergements à Marseille"*/
{
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 1rem 1rem 0 0;
}

.text_annonce1
{
    width: 90%;
    margin: auto;
}

#afficher_plus /*lien "afficher plus"*/
{
    color: black;
    font-weight: bold;
    width: 7rem;
}

#afficher_plus:hover
{
    text-decoration: underline;
}

.bloc_populaire /*bloc "Les plus populaires"*/
{    
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 1rem;
}

#titre_bloc_populaire /*Titre du bloc "les plus populaires"*/
{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.annonce_populaire /*Annonce populaire*/
{
    display: flex;
    flex-flow: column;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 1px #F2F2F2;
    cursor: pointer;
    font-size: 0.8rem;
    margin:1rem;
    padding: 0.3rem;
    transition: 1s;
}

.image_populaire /*image annonce du bloc "les plus populaires"*/
{
    float: left;
    object-fit: cover;
    background-position: center;
    height: 150px;
    width: 35%;
    border-radius: 1rem 0 0 1rem;
}

.text_annonce2
{
    width: 60%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}


.bloc_act_a_marseille /*bloc "Activité à Marseille"*/
{    
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 0;
    height: 30rem;
}

.annonce_act_1 /*grande annonce*/
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 23%;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 1px #F2F2F2;
    transition: 1s;
}

.annonce_act_1 img /*image grande annonce*/
{
    border-radius: 15px;
    width: 100%;
    height: 26.5rem;
    cursor: pointer;
    object-fit: cover;
    background-position: center;
    border-radius: 1rem 1rem 0 0;
}

.minicards1 /*bloc 2 activité*/
{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.annonce_60 /*annonce 60%*/
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 5px 5px 10px 1px #F2F2F2;
    transition: 1s;
}

.annonce_60 img /*image env 60%*/
{
    border-radius: 15px;
    width: 100%;
    height: 12rem;
    cursor: pointer;
    object-fit: cover;
    background-position: center;
    border-radius: 1rem 1rem 0 0
}

.annonce_40 /* mini annonce activité Marseille*/
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 5px 5px 10px 1px #F2F2F2;
    transition: 1s;
}

.annonce_40 img /* image mini annonce activité Marseille*/
{
    border-radius: 15px;
    width: 100%;
    height: 9.1rem;
    cursor: pointer;
    object-fit: cover;
    background-position: center;
    border-radius: 1rem 1rem 0px 0px
}

.minicards2 /*bloc 2 activité*/
{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.annonce_50/*annonce activité Marseille*/
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 14rem;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 5px 5px 10px 1px #F2F2F2;
    transition: 1s;

}

.annonce_50 img /*image annonce activité Marseille */
{
    border-radius: 15px;
    width: 100%;
    height: 10.5rem;
    cursor: pointer;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.bloc_act_a_marseille h3
{
    padding-left: 5%;
}

.annonce_hebergement:hover, .annonce_populaire:hover, .annonce_act_1:hover, .annonce_40:hover, .annonce_50:hover, .annonce_60:hover
{
    cursor: pointer;
    transform: scale(1.2);
}

footer /*personnalisation footer*/
{
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-between;
    background-color:#F2F2F2;
    padding: 2rem 0;
}

.a_propos, .nos_hebergements, .assistance /*personnalisation colonnes dans footer*/
{
    display: flex;
    flex-direction: column;
}

.a_propos
{
    margin-left: 5%;
}

.assistance
{
    margin-right: 15%;
}

footer a /*personnalisation liens footer*/
{
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding-top: 0.5rem;
}

footer a:hover /*survol liens footer*/
{
    text-decoration: underline;
}

@media screen and (max-width:1000px)
{
    html, body
    {
        margin: 0;
    }
    
    header 
    {
        flex-direction: column;
        justify-items: start;
        height: 8rem;
    }

    header img
    {
        margin-top: 0;
        float: left;
        left: 0;
    }

    ul a:hover /*survol liens navigateur*/
    {
        border-bottom: 0.15rem solid #0065FC;
        border-top: none;
        width: 50%;
    }

       
    h1
    {
        font-size: 1.2rem;
        margin: 0 1rem 0 1rem;
    }

    .localisation
    {
        align-items: flex-end;
        width: 17rem;
    }

    #submit
    {
        width: 50px;
        height: 50px;
        border-radius: 1rem;
        font-size: 0;
        font-family: "Fontawesome";
        content: "\f002";
        
    }

    .filtres h3
    {
        width: 100%;
    }

    .mini_bloc_filtre
    {
        margin: 0.3rem ;
    }

    .big_bloc_heb_pop
    {
        flex-direction: column-reverse;
    }

    .bloc_hebergement
    {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
    }

    .bloc_annonces_heber_1, .bloc_annonces_heber_2
    {
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }

    .annonce_hebergement
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 14rem;
        margin-bottom: 2rem;
    }



    .bloc_populaire
    {
        margin: 0;
        border-radius: 0;
    }


    .bloc_act_a_marseille
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        height: auto;
    }

    .annonce_act_1, .annonce_40, .annonce_50, .annonce_60, .annonce_act_1
    {
        width: 100%;
        height: 14rem;
        margin-bottom: 2rem;
    }

    .minicards1, .minicards2
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: auto;
    }

    .annonce_40 img, .annonce_50 img, .annonce_60 img, .annonce_act_1 img
    {
        height: 10rem;
    }

    footer
    {
        display: flex;
        flex-direction: column;
    }

    .nos_hebergements, .assistance
    {
        padding-left: 5%;
        padding-top: 2rem;
    }

    .a_propos
    {
        padding-top: 2rem;
    }
}


