@font-face /*recup police*/
{ 
	font-family: 'Raleway';
	src:url('fonts/raleway-regular-webfont.woff') format('woff'),
        url('fonts/raleway-regular-webfont.woff2') format('.woff2'),
	    url('fonts/Raleway-Regular.ttf') format('truetype'),
	    url('WebFont.svg#webfont') format('svg');
}

ul /*puces invisibles*/
{
    list-style: none;
}

h1, h2, h3, nav, #filtres /* éléments en bold*/
{
    font-weight: bold;
}

header /*placement entete site*/
{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
}

body /*police site*/
{ 
    font-family: "Raleway";
}

section
{
    margin-left: 50px;
    max-width: 1300;
}

nav a /*liens navigation*/
{
    margin-right: 40px;
    margin-top: 5px;
    border-top-color: #0065FC;
    text-decoration: none;

}

#titre /*hauteur titre du site*/
{
    height: 20px;
}

.localisation /*recherche localisation*/
{    
    display: flex;
    justify-content: flex-start;
    border: 1px solid #F2F2F2;
    width:418px;
    height: 50px;
    border-radius: 15px;
}

#image_gps
{
    
    background-color: #F2F2F2;
    padding: 15px 25px;
    background-size: 300px 100px;
    border-radius: 15px 0px 0px 15px;
}

#search
{
    width: 235px;
    height: 50px;
    border: none;
    text-align: center;
}

#submit
{
    width: 116px;
    height: 50px;
    padding: 20px;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: black;
    text-align: left;

    font-size: 16px;
}

#filtres /*selection filtres*/
{    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: 1em;
}

.i /*couleur du "i" au nombres d'hergements trouvés*/
{
    color: #0065FC;
}

.cercle /*couleur du cercle au nombre d'hebergements trouvés*/
{
    color: rgb(197, 196, 196);
}

.info_dispo /* alignement nombres d'hergements trouvés*/
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 40%;
}




#filtres i /*placement des filtres*/
{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 16px ;
    border: 0.15em solid #DEEBFF;
    border-radius: 1.6em;
}

#filtres a /*config liens des filtres*/
{
    border: 0.15em solid rgb(197, 196, 196);
    border-radius: 2em;
    padding: 1em 1em 1em 4em;
    text-decoration: none;

}










.bloc_hebergement_a_marseille
{
    width: 880px;
    height: 625px;
    background-color: #F2F2F2;
    border-radius: 15px;
    
}

.titre_hebergement /*annonces hebergements à Marseille*/
{
    display: flex;
    flex-direction: column;
}

#image_hebergement /*image annonce du bloc "Hébergements à Marseille"*/
{
    height: 130px;
    width: 130px;
    border-radius: 15px 0px 0px 15px;
    float: left;
    margin-right: 10px;
}

.bloc_populaire /*bloc "Les plus populaires"*/
{
    width: 420px;
    height: 625px;
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-left: 40px;

}

.titre_populaire
{
    
}

#image_populaire /*image annonce du bloc "les plus populaires"*/
{
    height: 130px;
    width: 130px;
    border-radius: 15px 0px 0px 15px;
    float: left;
    margin-right: 10px;
}

.bloc_act_a_marseille /*bloc "Activité à Marseille"*/
{
    height: 625px;
    width: 1350px;
}



header, .footer /*marge gauche et droite*/
{
    padding: 50px;
    
}

.footer /*personnalisation footer*/
{
    display: flex;
    flex-flow: row ;
    background-color: rgb(242, 242, 242);
}

.a_propos, .nos_hebergements, .assistance /*personnalisation colonnes dans footer*/
{
    display: flex;
    flex-direction: column;
}

.footer a /*personnalisation liens footer*/
{
    color: black;
    margin-top: 5px;
    text-decoration: none;
    margin-right: 300px;
}